
<section>
   
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Dashboard </h2>
                    <p>Whole data about your business here</p>
                </div>
                
            </div>
             <div class="row ">
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-primary-light"><i class="text-primary material-icons md-monetization_on"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Revenue</h6>
                                <span>RS:<%=Data.TotalDeliveredPrice[0].TotalRevenue%></span>
                                <span class="text-sm">
                                    Shipping fees are not included
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-success-light"><i class="text-success material-icons md-local_shipping"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Orders</h6> <span><%=Data.DeliveredCount%></span>
                                <span class="text-sm">
                                    Excluding orders in transit
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-warning-light"><i class="text-warning material-icons md-qr_code"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Products</h6> <span><%= Data.ProductsCount%></span>
                                <span class="text-sm">
                                    In <%= Data.CategoryCount%> Categories
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
           
             <div class="row">
                <div class="col-xl-8 col-lg-12">
                    <div class="col-12">
                        <div class="card">
                        
                            <div id="piechart" style="width: 700px; height: 500px;"></div>
                        </div>
        </div>
                    </div>
                        
                    </div>
                    
                
                <!-- <div class="col-xl-4 col-lg-12">
                    <div class="card mb-4">
                        <article class="card-body">
                            <h5 class="card-title">Revenue Base on Area</h5>
                            <canvas id="myChart2" height="217"></canvas>
                        </article>
                    </div>
              
                </div> -->
                <div class="col-12">.
                    <div class="card">
        
                      <div class="card-body bg-white">
                        <h5 class="card-title">Order Status <span>| All</span></h5>
        
                        <div id="trafficChart" style="min-height:400px;" class="echart"></div>
                      </div>
                    </div>
                </div>
        
            
                
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>

</section>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
  google.charts.load('current', { 'packages': ['corechart'] });
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {

    var data = google.visualization.arrayToDataTable([
      ['Task', 'Hours per Day'],

      ['COD',<%= Data.codCount %>  ],
      ['ONLINE',<%= Data.onlinePay %>],

    ]);

    var options = {
      title: 'total sales'
    };

    var chart = new google.visualization.PieChart(document.getElementById('piechart'));

    chart.draw(data, options);
}

</script>

<script>
    document.addEventListener("DOMContentLoaded", () => {
      echarts.init(document.querySelector("#trafficChart")).setOption({
        tooltip: {
          trigger: 'item'
        },
        legend: {
          top: '5%',
          left: 'center'
        },
        series: [{
          name: "",
          type: 'pie',
          radius: ['40%', '70%'],
          avoidLabelOverlap: false,
          label: {
            show: false,
            position: 'center'
          },
          emphasis: {
            label: {
              show: true,
              fontSize: '18',
              fontWeight: 'bold'
            }
          },
          labelLine: {
            show: false
          },
          data: [{
            value: <%= Data.PlacedCount%>,
            name: 'placed'
          },
          {
                          value:<%=Data.PendingCount%>,
                          name: 'pending'
                        },
                        {
                          value: <%=Data.CanceledCount%>,
                          name: 'cancel'
                        },
                        {
                          value: <%=Data.DeliveredCount%>,
                          name: 'delivered'
                        },
                        {
                          value: <%=Data.ReturnedCOUNT%>,
                          name: 'returned'
                        }

                        ]
                      }]
                    });
                  });
                </script>

