<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Order List </h2>
            
        </div>
        
    </div>
    <div class="card mb-4">
        
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover" id="ordersTable">
                    <thead>
                        <tr>
                            <th>Order#Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Payment Method</th>
                            <th scope="col">Status</th>
                            <th scope="col">Ordered Date</th>
                            
                           
                            <th scope="col" class="text-end"> Action </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% Orders.forEach(order=> { %>
                        <tr>
                            <td><%=order._id%></td>
                            <td><b><%=order.deliveryDetails.firstname%></b></td>
                            
                            <td><%=order.paymentmethod%></td>
                            <td><span class="badge rounded-pill alert-warning"><%=order.status%></span></td>
                            <td><%=order.date%></td>
                            <td class="text-end">
                                <a href="/admin/order-details/<%=order._id%>" class="btn  btn-primary">View Order</a>
                               
                            </td>
                        </tr>
                       
                       
                     
                     
                       
                     
                     
                     
                       <% })%>
                    </tbody>
                </table>
            </div> <!-- table-responsive //end -->
        </div> <!-- card-body end// -->
    </div> <!-- card end// -->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>

         
          <% Pages.forEach(page=>{ %>
        
          <li class="page-item" ><a class="page-link"  href="/admin/orderview/?page=<%=page %>" aria-label="<%= page %>"><%= page %></a></li>
          
         <% }) %>
          <li class="page-item">
            <a class="page-link" href="" aria-label="Next"> 
              <span aria-hidden="true">&raquo;</span> 
            </a> 
           </li>
      </ul>
      </nav>
</section> <!-- content-main end// -->
<script>
   $(document).ready( function () {
    $('#ordersTable').DataTable();
} );
</script>
