<section class="content-main">
    <div class="content-header">
        <div class="">
            
            <h2 class="content-title card-title">Order detail</h2>
            <p><%=orders._id%></p>
        </div>
        <div class="col-lg-6 col-md-6 ms-auto text-md-end">
            <div class="form-check d-inline-block">
                <form action="#" class="d-flex text align-items-center" id="status-change">
                    <input  type="hidden"   name='orderid' value="<%=orders._id%>" >
                    <%if(orders.status=='Cancelled'){%>
                        <div class="ml-10">
                            <button class="btn btn-primary btn-sm btn-block disabled">Cancelled</button>
                          </div>
                    <%}else if(orders.status=='placed'){%>
    
                      
                      <div id="deliver-order" class="form-check  ">
                        <input type="radio" class="form-check-input" id="radio2" name="status" value="Delivered">Delivered
                        <label class="form-check-label" for="radio2"></label>
                      </div>
                      
                      <div id= "pending-order"class="form-check ">
                        <input type="radio" class="form-check-input"name="status" value="Pending" >Pending
                        <label class="form-check-label"></label>
                    </div>
                      
                    <div id="placed-order" class="form-check  ">
                        <input type="radio" class="form-check-input" id="radio1" name="status" value="Cancelled" >Cancel-Order
                        <label class="form-check-label" for="radio1"></label>
                      </div>
                      <div class="ml-10">
                        <button class="btn btn-primary btn-sm btn-block" type="submit">Change Status</button>
                      </div>
                      <%}else if(orders.status=='Delivered'){%>

                    <div class="ml-10">
                      <button class="btn btn-primary btn-sm btn-block disabled">Delivered</button>
                    </div>
                <%}else {%>
                    <div id="deliver-order" class="form-check  ">
                        <input type="radio" class="form-check-input" id="radio2" name="status" value="Delivered">Delivered
                        <label class="form-check-label" for="radio2"></label>
                      </div>
                      <div id="placed-order" class="form-check  ">
                        <input type="radio" class="form-check-input" id="radio1" name="status" value="Cancelled" >Cancel-Order
                        <label class="form-check-label" for="radio1"></label>
                      </div>
                      <div class="ml-10">
                        <button class="btn btn-primary btn-sm btn-block" type="submit">Change Status</button>
                      </div>
                      <%}%>

            

                      
                    
                </form>
                
               
              </div>
          
        </div>
        
        
    </div>

   
    <div class="card">
        <header class="card-header">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                    <span>
                        <i class="material-icons md-calendar_today"></i> <%=orders.date%><b></b>
                    </span> <br>
                    <small class="text-muted"><%=orders._id%></small>
                </div>
        
            </div>
        </header> <!-- card-header end// -->
        <div class="card-body">
            <div class="row mb-50 mt-20 order-info-wrap">
                <div class="col-md-4">
                    <article class="icontext align-items-start">
                        <span class="icon icon-sm rounded-circle bg-primary-light">
                            <i class="text-primary material-icons md-person"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1">Customer</h6>
                            <p class="mb-1">
                                <%=orders.deliveryDetails.firstname %> 
                            </p>
                            <a href="#">View profile</a>
                        </div>
                    </article>
                </div> <!-- col// -->
                <div class="col-md-4">
                    <article class="icontext align-items-start">
                        <span class="icon icon-sm rounded-circle bg-primary-light">
                            <i class="text-primary material-icons md-local_shipping"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1">Order info</h6>
                            <p class="mb-1">
                             <br> Payment method: <%=orders.paymentmethod%>
                            </p>
                            
                        </div>
                    </article>
                </div> <!-- col// -->
                <div class="col-md-4">
                    <article class="icontext align-items-start">
                        <span class="icon icon-sm rounded-circle bg-primary-light">
                            <i class="text-primary material-icons md-place"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1">Deliver to</h6>
                            <p class="mb-1">
                                City: <br><%=orders.deliveryDetails.address%> <br> Po <%=orders.deliveryDetails.pincode%>
                            </p>
                            <a href="#">View profile</a>
                        </div>
                    </article>
                </div> <!-- col// -->
            </div> <!-- row // -->
            <div class="row">
                <div class="col-lg-7">
                    <div class="table-responsive">
                        <table class="table">

                            <thead>
                                <tr>
                                    <th width="40%">Product</th>
                                    <th width="20%">Unit Price</th>
                                    <th width="20%">Quantity</th>
                                    <th width="20%" class="text-end">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% orderedproducts.forEach(order=> {%>
                                <tr>
                                    <td>
                                        <a class="itemside" href="#">
                                            <div class="left">
                                                <img src="/ad asset/productImages/<%= order.product.productImage[1] %>" width="40" height="40" class="img-xs" alt="Item">
                                            </div>
                                            <div class="info"> <%=order.product.title%></div>
                                        </a>
                                    </td>
                                    <td> <%=order.product.price%></td>
                                    <td> <%=order.quantity%> </td>
                                   
                                
                                  
                              
                                <%})%>
                                
                                    <td colspan="4">
                                        <article class="float-end">
                                            
                                           
                                            <dl class="dlist">
                                                <dt>Grand total:</dt>
                                                <dd style="color: black;"> <b class="h5"><%=orders.totalAmount%></b> </dd>
                                            </dl>
                                            <dl class="dlist">
                                                <dt class="text-muted" style="color: black;">  <span id="order-status">Status:<%=orders.status%></span>  </dt>
                                                <dd>
                                                   
                                                </dd>
                                            </dl>
                                        </article>
                                    </td>
                                
                               
                            </tbody>
                        </table>
                    </div> <!-- table-responsive// -->
                </div> <!-- col// -->
                <div class="col-lg-1"></div>
                <div class="col-lg-4">
                    <div class="box shadow-sm bg-light">
                        <h6 class="mb-15">Payment info</h6>
                        <p>
                            <img src="./assets/imgs/card-brands/2.png" class="border" height="20"> Master Card **** **** 4768 <br>
                            Business name: Grand Market LLC <br>
                            Phone: +1 (800) 555-154-52
                        </p>
                    </div>
                    <div class="h-25 pt-4">
                        <div class="mb-3">
                            <label>Notes</label>
                            <textarea class="form-control" name="notes" id="notes" placeholder="Type some note"></textarea>
                        </div>
                        <button class="btn btn-primary">Save note</button>
                    </div>
                </div> <!-- col// -->
            </div>
        </div> <!-- card-body end// -->
    </div> <!-- card end// -->
</section> <!-- content-main end// -->
<script>
     $('#status-change').submit((e)=>
     { console.log('jjjj');
        e.preventDefault()
        $.ajax({
            url:'/admin/status-submit',
            method:'post',
            data:$('#status-change').serialize(),
            success:(response)=>
            {
             
             
              if(response.status)
              { 
                document.getElementById('order-status').innerHTML = response.newStatus
                // if(response.newStatus=='Cancelled')
                // {
                //     $('#deliver-order').addClass('d-none')
                //     $('#pending-order').addClass('d-none')
                //     $('#placed-order').addClass('d-none')
                // }
                
                   
                    
                   
                
                // else if(response.newStatus=='Delivered')
                // {
                //     $('#placed-order').addClass('d-none')
                //     $('#pending-order').addClass('d-none')
                //     $('#cancel-order').addClass('d-none')
                // }
                // else if(response.newStatus=='Pending')
                // {
                  
                //     $('#placed-order').addClass('d-none')
                    
                // }


               
                alert('Status Successfully Changed')
               location.reload()
              }
            
        }
 
    })
})

    
     
</script>