<section>

    <div class="container">
        <table class="table"id="userstable">
      <thead>
        <tr>
          <th scope="col"> Name</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <% for(var category of categories) { %>
        <tr>
          <td><%= category.name %></td>
          <td><%= category.Description %></td>
          
          
          <td>
            
            <a href="/admin/delete-category/<%= category._id %>" class="btn btn-info" onclick="return confirm('do you want to delete <%=category.name %>')">Delete</a>
            
          <a href="/admin/edit-category/<%= category._id %>" class="btn btn-danger" >Edit</a>
          
        </td>
        </tr>
        <% } %>
        
      </tbody>
    </table>
    </div>
    </section>
    <script>
      $(document).ready( function () {
        $('#userstable').DataTable();
    } );
    </script>
    </section>