<% if(cartItems.length!=0) { %>
<main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">Shopping Cart<span>Shop</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
   
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->


    <div class="page-content">
        <div class="cart">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <table class="table table-cart table-mobile">
                            
                           
                                
                                
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                <%  cartItems.forEach(products => { %>
                                <tr>
                                    <td class="product-col">
                                        
                                        <div class="product">
                                            <figure class="product-media">
                                                <a href="#">
                                                    <img src="/ad asset/productImages/<%= products.product.productImage[1] %>" alt="Product image">
                                                </a>
                                            </figure>

                                            <h3 class="product-title">
                                                
                                                <a href="#"><%=products.product.title%></a>
                                            </h3><!-- End .product-title -->
                                        </div><!-- End .product -->
                                    </td>
                                    <td class="price-col">RS:<%=products.product.price%></td>
                                    <td class="quantity-col">
                                   <div class="cart-product-quantity">
                                            
                                     <button class="cart-item-count border-0 mr-3" onclick="changequantity('<%=products._id%>','<%=products.item%>',-1,'<%=products.product.price%>')">-</button> 
                                     <span id="<%=products.item%>"><%=products.quantity%></span>
                                     <button class="cart-item-count border-0 ml-3" onclick="changequantity('<%=products._id%>','<%=products.item%>',1,'<%=products.product.price%>')">+</button>
                                    </div><!-- End .cart-product-quantity -->
                                        </td> 
                                        

                                       
                                    <td class="total-col"><span id="<%=products.item%>-al"> <%=products.total%></span></td>
                                   
                                  
                                    <td class="remove-col"><button class="btn-remove"onclick="removecart('<%=products._id%>','<%=products.item%>')"><i class="icon-close"></i></button></td>
                                </tr>
                                
                    
                                <% }) %>
                                
                           
                             
                                 
                            </tbody>
                        </table><!-- End .table table-wishlist -->

                        <div class="cart-bottom">
                            <div class="cart-discount">
                                <form action="#">
                                    <div class="input-group">
                                        <input type="text" class="form-control" required placeholder="coupon code">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-primary-2" type="submit"><i class="icon-long-arrow-right"></i></button>
                                        </div><!-- .End .input-group-append -->
                                    </div><!-- End .input-group -->
                                </form>
                            </div><!-- End .cart-discount -->

                            <a href="#" class="btn btn-outline-dark-2"><span>UPDATE CART</span><i class="icon-refresh"></i></a>
                        </div><!-- End .cart-bottom -->
                    </div><!-- End .col-lg-9 -->
                    <aside class="col-lg-3">
                        <div class="summary summary-cart">
	                				<h3 class="summary-title">Cart Total</h3><!-- End .summary-title -->

	                				<table class="table table-summary">
	                					<tbody>
	                				
	                						
	                						

	                					
	                							
	                					

	                					

	                				

	                						<tr class="summary-total">
	                							<td>Total</td>
	                							<td><span id="cart-totals"><%=Total[0].total%></span></td>
	                						</tr><!-- End .summary-total -->
	                					</tbody>
	                				</table><!-- End .table table-summary -->

	                				<a href="/order-payment" class="btn btn-outline-primary-2 btn-order btn-block">PROCEED TO CHECKOUT</a>
	                			</div><!-- End .summary -->
                           
                       

                        <a href="category.html" class="btn btn-outline-dark-2 btn-block mb-3"><span>CONTINUE SHOPPING</span><i class="icon-refresh"></i></a>
                    </aside><!-- End .col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .cart -->
    </div><!-- End .page-content -->
</main><!-- End .main -->

<% } else { %>
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">Shopping Cart<span>Shop</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class=" mt-4 mx-1 mb-3 ml-20">Cart is Empty</h1>
        </div>
      </div>
      <div class="text-center">
      
        <a href="/" class="btn btn-outline-dark-2 btn-block mb-3 w-50"><span>CONTINUE
            SHOPPING</span><i class="icon-refresh"></i></a>
            <% }  %>
        </div>
    

    


    

 

<script>
    async function changequantity(cartId,prodId,count,price)
    {
        let quantity=await parseInt(document.getElementById(prodId).innerHTML)
        let fulltotal=await parseInt(document.getElementById('cart-totals').innerHTML)
        

        // price=parseInt(price)
        count=parseInt(count)
        
      $.ajax({
        url:'/change-product-quantity',
        data:{
            cart:cartId,
            product:prodId,
            count:count,
            quantity:quantity
        },
        method:'post',
        success:async(response)=>
        {
            if(response.removeProduct)
            {
                alert('Product removed from the cart')
                location.reload()
            }
            else{
                document.getElementById(prodId).innerHTML=quantity+count
                document.getElementById(`${prodId}-al`).innerHTML=await (parseInt(price))*(quantity+count)
                document.getElementById('cart-totals').innerHTML=fulltotal+(price*count)
                
            }

        }
       })
    }
    function removecart(cartId,prodId)
    {
        $.ajax({
            url:'/remove-from-cart',
            data:{
                cart:cartId,
                product:prodId

            },
            method:'delete',
            success:(response)=>
            {
                if(response.removeItem)
                {
                    alert('Product removed from Cart')
                    location.reload()
                }
            }

        })
    }
    
    
</script>

    

