<main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">Checkout<span>Shop</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">Checkout</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="checkout">
            <div class="container">
                <div class="checkout-discount">

                    <form action=""  id="couponAdd">
                       
                        <input type="text" name="coupon" aria-label="coupon" class="form-control" required id="checkout-discount-input" placeholder="enter coupon for offers">
                      
                        <button type="submit" class="btn btn-info" style="border-radius: 2px;">Check</button>
                    </form>
                    <div><p class="text-center text-danger fw-bold" id="errcoupon" style="display: none;">unvalid coupon code</p></div>
                </div><!-- End .checkout-discount -->
                <div>

                    
                        <a href="/addAddress"> <span class="">Add Address</span>      </a> 
                </div>
                
                <form action="/placeorder-submit" method="post">
                    <div class="row">
                        <div class="col-lg-9">
                            <input type="text" class="form-control" style="display: none;" id="newPrice" name="totalPrice" value='<%=Total[0].total%>'>

                           
                            <h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>First Name *</label>
                                        <input type="text" class="form-control" style="color: black;" name="firstname" value="<%=locals.user.firstName%>" required  >
                                    </div><!-- End .col-sm-6 -->

                                    <div class="col-sm-6">
                                        <label>Last Name *</label>
                                        <input type="text" class="form-control" name="lastname" style="color: black;"  value="<%=locals.user.lastName%>" required>
                                    </div><!-- End .col-sm-6 -->
                                </div><!-- End .row -->

                              

                                <label>Country *</label>
                                <input type="text" class="form-control"name="country" style="color: black;"  value="<%=locals.user.country%>" required>

                                <label>Street address *</label>
                                <input type="text" class="form-control" style="color: black;"  placeholder="House number and Street name" name="address" value="<%=locals.user.address%>" required>


                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Town / City *</label>
                                        <input type="text" class="form-control" style="color: black;"  name="town" value="<%=locals.user.town%>" required>
                                    </div><!-- End .col-sm-6 -->

                                    <div class="col-sm-6">
                                        <label>State / County *</label>
                                        <input type="text" class="form-control" style="color: black;"  name="country" value="<%=locals.user.country%>" required>
                                    </div><!-- End .col-sm-6 -->
                                </div><!-- End .row -->

                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Postcode / ZIP *</label>
                                        <input type="text" class="form-control" style="color: black;"  name="pincode"value="<%=locals.user.pincode%>" required>
                                    </div><!-- End .col-sm-6 -->

                                    <div class="col-sm-6">
                                        <label>Phone *</label>
                                        <input type="tel" class="form-control" style="color: black;"  name="phoneno" value="<%=locals.user.mobile%>"required>
                                       
                                    </div><!-- End .col-sm-6 -->
                                </div><!-- End .row -->

                               <div>
                                <a href="/addreses">CHANGE ADDRESS?</a>
                               </div>
                                

                               
                                

                        </div><!-- End .col-lg-9 -->
                        
                     
                       
                     
                        <aside class="col-lg-3">
                                
                          
                            <div class="summary">
                              
                          
                                <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->
                               
                                <table class="table table-summary">
                               
                                    <thead>
                                         
                                        <tr>
                                            <th>Product</th>
                                            <th>Total</th>
                                            
                                        </tr>
                                    </thead>
                                    <%  cartItems.forEach(products => { %>
                                    <tbody>
                                        
                                        <tr>
                                            <td style="color: black;"><a href="#"><%=products.product.title%></a></td>
                                            <td style="color: black;"><%=products.total%></td>
                                        </tr>

                                      
                                       
                                        <% }) %>
                                       
                                        <tr class="summary-total">
                                            <th style="color: black;">Total</th>
                                            <td id="newCost"><%=Total[0].total%></td>
                                     
                                        </tr><!-- End .summary-total -->
                                        

                                    </tbody>
                                   
                                </table><!-- End .table table-summary -->
                                <li class="list-group-item d-flex justify-content-between lh-condensed"   >
                                    <div >
                                     
                                      <small class="text-muted" id="discounttext"  style="display: none;">coupon discount is</small><br>

                                    </div>
                                    <span class="text-muted" id="discountrate" name="discount" style="display: none;">0</span>
                                  </li>
                              
                                
                                    
                                </div><!-- End .card -->
                                <div class="accordion-summary" id="accordion-payment">
                                
                                    
                              
                                    

                                <div class="card">
                                        <div class="card-header" id="heading-3">
                                            <label class="radio-inline">
                                                <input type="radio" name="paymentmethod" value ="cod">Cash On Delivery
                                            </label>
                                            
                                        
                                    </div><!-- End .card -->

                                    <div class="card">
                                        <div class="card-header" id="heading-4">
                                            <label class="radio-inline">
                                            <input type="radio" name="paymentmethod" value ="paypal">Paypal
                                        </label>
                                       
                                        </div><!-- End .card-header -->
                                        
                                    </div><!-- End .card -->
                                    <div class="card">
                                        <div class="card-header" id="heading-4">
                                            <label class="radio-inline">
                                            <input type="radio" name="paymentmethod" value ="razorpay">Razorpay
                                        </label>
                                       
                                        </div><!-- End .card-header -->
                                        
                                    </div><!-- End .card -->

                                  
                                     
                                    </div><!-- End .card -->
                                </div><!-- End .accordion -->
                               
                                
                                <div id="paypal-button-container"></div>
                               
                                <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
                                    <span class="btn-text">Place Order</span>
                                    <span class="btn-hover-text">Proceed to Checkout</span>
                                </button>
                            </div><!-- End .summary -->
                        </aside><!-- End .col-lg-3 -->
                    </div><!-- End .row -->
                   
                </form>
                
              
            </div><!-- End .container -->
        </div><!-- End .checkout -->
    </div><!-- End .page-content -->
</main><!-- End .main -->
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
     
$("#couponAdd").submit((e)=>
{
    e.preventDefault()
    $.ajax({
        url:'/add-Coupon',
        method:'post',
        data:$('#couponAdd').serialize(),
        success:(response)=>
        {
        
         if(response.discAmt>0)
         {
            document.getElementById('newPrice').value=response.totalAmt
         let totalPrice1=document.getElementById('newCost')

         totalPrice1.innerHTML=response.totalAmt
         totalPrice1.value=response.totalAmt
         totalPrice1.style.color='red';
         
         document.getElementById('discounttext').style.display=''
         document.getElementById('discountrate').style.display=''
         discountrate.innerHTML=response.discAmt
         
    
         }
         else
         {
            document.getElementById('errcoupon').style.display='Invalid coupon'
    
         }
        
            
         
        }
    
    
    })
})

</script>
